<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">    
    <link rel="stylesheet"  th:href="@{/css/styles.css}">
    <title>Junior veiculos - Categorias </title>
</head>
<body>
    <header id="header">
        <nav id="navegador">
            <ul id="logo">
                <img th:src="@{/images/logo.png}" alt="" width="100px" height="50px">
            </ul>
          <ul class="ulNav">
            <li><a class="link" href="/">Inicio</a></li>
            <li><a class="link" href="/veiculo">Veiculos</a></li> 
            <li><a class="link" href="/categorias">Categorias</a></li>           
          </ul>
          <div class="nav-redes">
            <img th:src="@{/images/facebook.png}" alt="" width="50px" height="50px">
            <img th:src="@{/images/instagram.png}" alt="" width="50px" height="50px">
            <img th:src="@{/images/whatsapp.png}" alt="" width="50px" height="50px">
           </div>
        </nav>
    </header>
    <section class="section-container inicio">
        <section class="opcaoveiculo">            
            <h1>Novo Veiculo</h1>
            <form action="/veiculo/save"  method="post" class="form-group row">
                <label>Nome do Veiculo:</label><br/>
                <input type="text" th:name="nome" required/><br />
                <label>Modelo do Veiculo:</label><br/>
                <input type="text" name="modelo" required /><br />
                <label>Cor do Veiculo:</label><br/>
                <input type="text" name="cor" required/><br />
                <label>Descricao do Veiculo:</label><br/>
                <input type="text" name="descricao" required/><br />
                <label>Valor do Veiculo:</label><br/>
                <input type="number" name="valor"required /><br />
                <label>Categoria do Veiculo:</label><br/>                
                <select th:name="categoria" class="form-control" >  
                    <option th:each="categoria : ${listarcategorias}" th:value="${categoria.id}" th:text="${categoria.nome}"> </option>                 
                </select>
                <input type="submit" value="SALVAR" />
            </form>            
        </section>
        
    </section>
    <footer id="footer">

        <section class="footer-section">
            <div class="footer-endereco">
                <h3>ENDEREÇO</h3>
                <p>Avenida mauro ramos, Florianópolis,Sc</p>

            </div>
            <div class="footer-endereco">
                <h3>TELEFONE</h3>
                <p>(48)3355-4808</p>
            </div>            
        </section>
        <section class="footer-horario">
            <div class="footer-data-h3">
                <h3>Horarios de Atendimento</h3>
            </div>
            <div class="footer-data">
                <p>De segunda a sexta,(08hs a 18hs)</p>
                <p>Sabado e dominho, (11hs a 14hs)</p>
                <p>Feriados, fechado</p>
            </div>

        </section>
        <section class="footer-redes">
            <img th:src="@{/images/facebook.png}" alt="" width="50px" height="50px">
            <img th:src="@{/images/instagram.png}" alt="" width="50px" height="50px">
            <img th:src="@{/images/whatsapp.png}" alt="" width="50px" height="50px">
        </section>
    </footer>
</body>
</html>